/* 首页 */
/* Safari header - 头部导航栏毛玻璃效果 */
@supports (-webkit-backdrop-filter: none) {
	.AppHeader.is-fixed {
    	-webkit-backdrop-filter: saturate(180%) blur(20px);
    	backdrop-filter: saturate(180%) blur(20px);
    	background-color: rgba(255, 255, 255, 0.8)
	}
}

/* 全局 */
.Card {
    border-radius: 6px
}

/* 问题底部固定操作栏 */
@supports (-webkit-backdrop-filter: none) {
	.RichContent-actions.is-fixed {
		-webkit-backdrop-filter: saturate(180%) blur(20px);
    	backdrop-filter: saturate(180%) blur(20px);
    	background-color: rgba(255,255,255,.8)
	}
}

.Button--plain {
	color: rgba(9,9,9,.5)
}

.Button--plain:hover {
	color: rgba(9,9,9,.6)
}

.Button--plain .Button-zi {
	color: rgba(9,9,9,.4)
}

.Button--plain:hover .Button-zi {
	color: rgba(9,9,9,.5)
}

/* 首页 & 发现 & 话题 */
.AppHeader-nav {
	margin: 8px 28px
}

.AppHeader-navItem.is-active {
	color: #333
}

.AppHeader-navItem {
	color: #888
}

.AppHeader-navItem:hover {
	color: #333
}

/* 搜索框 */
.SearchBar {
	margin: 6px 8px
}

.SearchBar .Input-wrapper {
	border: 1px solid rgba(9,9,9,.1)
}

.SearchBar-tool .Input-wrapper.is-focus {
	border: 1px solid rgba(9,9,9,.14)
}

.Input-wrapper.Input-wrapper--grey {
	background: none
}

.Zi.Zi--Search {
	fill: rgba(9,9,9,.14)
}

.SearchBar-focusedSearchIcon .Zi.Zi--Search {
	fill: rgba(9,9,9,.18)
}

.SearchBar-hasValueSearchIcon .Zi.Zi--Search {
	fill: rgba(9,9,9,.18)
}

.SearchBar-hasValueSearchIcon.Button--primary.Button--blue {
	background-color: transparent
}

.SearchBar-hasValueSearchIcon.Button--primary.Button--blue:hover {
	background-color: transparent
}

.AppHeader .Popover input.Input {
	color: #444
}

.AppHeader .Popover input.Input::-webkit-input-placeholder {
	color: rgba(9,9,9,.3)
}

.AppHeader .Popover .SearchBar-focusedInput input.Input::-webkit-input-placeholder {
   	color: rgba(9,9,9,.4)
}

/* 搜索栏 */
.TopstoryPageHeader-aside .Input-wrapper, .SearchTabs-inner .Input-wrapper {
	border: 1px solid rgba(9,9,9,.1)
}

.TopstoryPageHeader-aside .Input-wrapper.is-focus, .SearchTabs-inner .Input-wrapper.is-focus {
	border: 1px solid rgba(9,9,9,.14)
}

.TopstoryPageHeader-aside .SimpleSearchBar-input, .SearchTabs-inner .SimpleSearchBar-input {
	background-color: #F8F8F8
}

.TopstoryPageHeader-aside .SimpleSearchBar-input.is-focus, .SearchTabs-inner .SimpleSearchBar-input.is-focus {
	background-color: #FFF
}

.Input-wrapper.is-focus .Zi.Zi--Search {
	fill: rgba(9,9,9,.18)
}

.SimpleSearchBar-searchButton.Button--primary.Button--blue {
	background-color: transparent;
  	border: none
}

.SimpleSearchBar-searchButton.Button--primary.Button--blue:hover {
	background-color: transparent
}

.TopstoryPageHeader-aside input.Input, .SearchTabs-inner input.Input {
	color: #444
}

.TopstoryPageHeader-aside input.Input::-webkit-input-placeholder, .SearchTabs-inner input.Input::-webkit-input-placeholder {
	color: rgba(9,9,9,.3)
}

.TopstoryPageHeader-aside .Input-wrapper.is-focus input.Input::-webkit-input-placeholder, .SearchTabs-inner .Input-wrapper.is-focus input.Input::-webkit-input-placeholder {
   	color: rgba(9,9,9,.4)
}

.PageHeader .TopstoryPageHeader-aside>.Button--primary.Button--blue {
	display: none
}

.TopstoryPageHeader-aside .SimpleSearchBar-input {
	width: 296px
}
/* 搜索栏 */

/* 提问 */
.SearchBar-askButton {
	margin-left: 15px
}

/* 提醒 & 私信 */
/* 提醒图标 */
.Zi.Zi--Bell {
	fill: rgba(9,9,9,.3)
}

.Zi.Zi--Bell:hover {
	fill: rgba(9,9,9,.4)
}

/* 私信图标 */
.Zi.Zi--Comments {
	fill: rgba(9,9,9,.3)
}

.Zi.Zi--Comments:hover {
	fill: rgba(9,9,9,.4)
}

.PushNotifications-selectedTabIcon {
	fill: rgba(9,9,9,.5)
}

.PushNotifications-tab {
	color: rgba(9,9,9,.3)
}

.PushNotifications-tab:hover {
	color: rgba(9,9,9,.4)
}

.PushNotifications-header {
	border-bottom: 1px solid rgba(9,9,9,.06)
}

.PushNotifications-tab:not(:last-child):after {
	background: rgba(9,9,9,.1)
}

.PushNotifications-followTitle:after {
	border-bottom: 1px solid rgba(9,9,9,.06)
}

.PushNotifications-item {
	padding: 15px 20px
}

.PushNotifications-item:after {
    background-color: rgba(9,9,9,.1)
}

.PushNotifications-item:hover {
    background-color: rgba(220,220,220,.2);
    cursor: pointer
}

.PushNotifications-newItem {
    background-color: transparent
}

.PushNotifications-newItem:before {
	width: 5px;
	height: 5px;
	margin-left: -13px;
	position: relative;
	top: 9px;
	/* 经典红 */
	background: red;
	/* 知乎蓝 */
	background: #0084ff;
	border-radius: 50%;
	float: left;
	content: ""
}

.PushNotifications-item a {
    color: #215fad
}

.Notifications-footer {
    background-color: transparent
}

.Messages-header {
	border-bottom: 1px solid rgba(9,9,9,.06)
}

.Messages-item:after {
	position: absolute;
	right: 0;
	bottom: 100%;
	left: 0;
	height: 1px;
	padding: 0 16px;
	background-color: rgba(9,9,9,.1);
	content: "";
	background-clip: content-box
}

.Messages-item:hover {
    background-color: rgba(220,220,220,.2)
}

.Messages-footer {
    background-color: transparent
}

.Button.Menu-item.AppHeaderProfileMenu-item.Button--plain {
    background: none;
    color: rgba(9,9,9,.5)
}

.Button.Menu-item.is-active.AppHeaderProfileMenu-item.Button--plain:hover {
    color: rgba(9,9,9,.7)
}

/* 图标 */
.Avatar {
	border-radius: 50%
}

/* 提问 */
.TopstoryHeader-nav>.Button.QuestionAskButton.TopstoryHeader-navItem.Button--plain {
	color: #1a1a1a
}

.TopstoryHeader-nav>.Button.QuestionAskButton.TopstoryHeader-navItem.Button--plain:hover {
	color: #175199
}

/* 提问 Modal */
.Modal-inner {
	border-radius: 6px
}

/* 写想法 */
.writePin-content {
	border-radius: 6px
}

/* 首页问题列表 - 分割方式 */
/* 分割线 */
.Card.TopstoryV2-noMarginCard.TopstoryV2-tabCard {
	border-radius: 6px 6px 0 0;
  	box-shadow: 0 1px 3px rgba(26,26,26,.1)
}

.Card.TopstoryItem.TopstoryItem-isRecommend {
	border-radius: 0
}

.TopstoryV2-content .Card.TopstoryItem {
	border-radius: 0;
	box-shadow: 0 1px 3px rgba(26,26,26,.1)
}

.HotItem:not(:first-child) {
	border-top: 1px solid #f0f2f7
}

/* 卡片 */
.Card.TopstoryV2-noMarginCard.TopstoryV2-tabCard {
	margin-bottom: 0;
  	border-radius: 6px 6px 0 0
}

.TopstoryV2-mainColumn .Card {
	margin-bottom: 15px;
	border-radius: 6px;
	box-shadow: 0 1px 3px rgba(26,26,26,.1)
}

.Card.TopstoryItem.TopstoryItem-isRecommend:first-child {
	border-radius: 0 0 6px 6px
}

.TopstoryV2-content .Card.TopstoryItem:first-child {
	border-radius: 0 0 6px 6px
}

.HotItem:not(:first-child) {
	border-top: 1px solid #f0f2f7
}

/* 列表 - 问题链接颜色 */
.ContentItem-title a {
	color: #215fad
}

.ContentItem>h2.ContentItem-title, .ContentItem.ArticleItem>h2.ContentItem-title, .ContentItem.AnswerItem>h2.ContentItem-title {
	margin-top: 0
}

/* 列表 - 图片 */
.RichContent-cover {
    margin: 0 0 0 12px;
    float: right
}

/* 列表 - 你可能感兴趣的话题 */
.ActionCard>.ActionCard-topicsContainer>.ActionCard-topics>.ActionCard-topic {
	width: 163.5px
}

.ActionCard>.ActionCard-topicsContainer>.ActionCard-topics>.ActionCard-topic>.ActionCard-topic-button {
	height: 26px
}

/* 列表 - 插入广告 */
.TopstoryItem--advertCard {
	display: none
}

/* Modal 背景色 */
/* 白色背景 */
.Modal-backdrop {
	background-color: #F1F1F1
}
  
.Modal-wrapper>.Modal--large, .Modal-wrapper>.Modal--fullPage, .Modal--default {
	border: .5px solid rgba(9,9,9,.1);
	border-radius: 6px;
	box-shadow: rgba(9,9,9,.1) 0 0 10px
}
  	
.Modal-closeIcon {
	fill: rgba(9,9,9,.3)
}
  
.Modal-closeButton:hover>.Modal-closeIcon {
	fill: rgba(9,9,9,.4)
}

.ImageView.is-active {
	background-color: #F1F1F1
}

/* 黑色背景 */
.Modal-backdrop {
	background-color: #999
}
  
.Modal-wrapper>.Modal--large, .Modal-wrapper>.Modal--fullPage, .Modal--default {
	border-radius: 6px
}
  	
.Modal-closeIcon {
	fill: rgba(255,255,255,.6)
}
  
.Modal-closeButton:hover>.Modal-closeIcon {
	fill: rgba(255,255,255,.7)
}

.ImageView.is-active {
	background-color: #999
}

/* 白色毛玻璃背景 */
@supports (-webkit-backdrop-filter: none) {
	.Modal-backdrop {
		-webkit-backdrop-filter: saturate(180%) blur(20px);
		backdrop-filter: saturate(180%) blur(20px);
	  	background-color: rgba(255, 255, 255, 0.8)
	}
  
	.Modal-wrapper>.Modal--large, .Modal-wrapper>.Modal--fullPage, .Modal--default {
		border: .5px solid rgba(9,9,9,.1);
		border-radius: 6px;
	  	box-shadow: rgba(9,9,9,.1) 0 0 10px
	}
  	
	.Modal-closeIcon {
		fill: rgba(9,9,9,.3)
	}
  
	.Modal-closeButton:hover>.Modal-closeIcon {
		fill: rgba(9,9,9,.4)
	}
}

.ImageView.is-active {
		-webkit-backdrop-filter: saturate(180%) blur(20px);
		backdrop-filter: saturate(180%) blur(20px);
	  	background-color: rgba(255, 255, 255, 0.8)
}

/* 黑色毛玻璃背景 */
@supports (-webkit-backdrop-filter: none) {
	.Modal-backdrop {
		-webkit-backdrop-filter: saturate(180%) blur(20px);
		backdrop-filter: saturate(180%) blur(20px);
	  	background-color: rgba(9,9,9,0.8)
	}
  
	.Modal-wrapper>.Modal--large, .Modal-wrapper>.Modal--fullPage, .Modal--default {
		border-radius: 6px
	}
  	
	.Modal-closeIcon {
		fill: rgba(255,255,255,.6)
	}
  
	.Modal-closeButton:hover>.Modal-closeIcon {
		fill: rgba(255,255,255,.7)
	}
}

.ImageView.is-active {
	-webkit-backdrop-filter: saturate(180%) blur(20px);
	backdrop-filter: saturate(180%) blur(20px);
	background-color: rgba(9,9,9,0.8)
}

/* 边栏 */
/* 各种写 */
.GlobalWrite-navIcon {
	width: 38px;
  	height: 38px;
  	color: rgba(9,9,9,.4)
}

.GlobalWrite-navItem:hover>.GlobalWrite-navIcon {
	color: rgba(9,9,9,.5)
}

.GlobalWrite-navTitle {
	font-size: 14px;
  	color: rgba(9,9,9,.5)
}

.GlobalWrite-navItem:hover>.GlobalWrite-navTitle {
	color: rgba(9,9,9,.6)
}
/* 各种写 */

.GlobalSideBar-categoryLabel {
	font-size: 14px;
	color: rgba(9,9,9,.5)
}

.GlobalSideBar-navIcon {
	fill: rgba(9,9,9,.4)
}

.GlobalSideBar-navList .Button {
	color: rgba(9,9,9,.5)
}

.GlobalSideBar-navNumber {
	background: none;
    color: rgba(9,9,9,.4)
}

.GlobalSideBar-navLink:hover .GlobalSideBar-navNumber {
	background: none
}

/* 边栏广告 */
.Banner {
	display: none
}

/* 边栏 - 知乎相关 */
.GlobalSideBar .Sticky .Footer {
	display: none
}

/* 建议反馈 & 回到顶部 */
.CornerButtons {
	display: none
}





/* 搜索页 */
.PageHeader.is-shown .SearchTabs {
	background-color: transparent
}

/* Live */
.LiveAvatar-wrapper {
	border-radius: 50%
}

.LiveAvatar-column {
	width: calc(50%)
}

.LiveAvatar-column+.LiveAvatar-column {
	border-left: 0
}

.LiveAvatar-img.alignCenter {
	border-radius: 0
}

/* 边栏 */
.Search-container .SearchSideBar .SearchRecommendationItem>img {
	border-radius: 150px
}

.Search-container .SearchSideBar .SearchRecommendationItem>img[alt="电子书"] {
	border-radius: 0
}

/* 边栏 - 相关结果 */
.SearchRecommendations>.SearchRecommendations-title {
	text-align: center
}

/* 边栏 - 知乎热搜 */
.TopSearch>.Card-header>.Card-headerText {
	width: 100%;
	text-align: center
}

.TopSearch-items>.TopSearch-item {
	padding: 3px 17px
}

/* 边栏 - 知乎相关 */
.SearchSideBar .Sticky .Footer {
	display: none
}





/* 话题页 */
#TopicMain {
	box-shadow: 0 1px 3px rgba(26,26,26,.1)
}

.Topic-bar--borderBottom {
	border-radius: 6px 6px 0 0
}

.ContentLayout>.ContentLayout-mainColumn>#TopicMain .Card {
	border-radius: 0 0 6px 6px;
	box-shadow: none
}

/* 话题图标 */
.TopicCard-image {
	border-radius: 50%
}

.PageHeader.is-shown .Topic-bar {
	background: none
}

/* 边栏 - 活跃回答者 */
.TopicTopWriterBoard-author .AuthorInfo-detail {
	display: initial !important
}

/* 边栏 - 知乎相关 */
.ContentLayout-sideColumn>.TopstorySideBar .Sticky>.Footer {
	display: none
}





/* 问题详情页 */
/* 问题已关闭 */
.QuestionStatus-bar {
	margin: 10px auto;
	padding: 0;
	background-color: #F6F6F6
}

.QuestionStatus-bar-inner {
	padding: 12px 24px;
	background-color: #FFF;
	border-radius: 6px;
	box-shadow: 0 1px 3px rgba(26,26,26,.1)
}

/* 问题详情 */
.QuestionHeader {
	margin: 10px auto;
	width: 1000px;
	min-width: 1000px;
	border-radius: 6px
}

/* 问题描述 - 显示全部 - 底部操作栏 */
@supports (-webkit-backdrop-filter: none) {
	.QuestionHeader-footer.is-fixed {
		-webkit-backdrop-filter: saturate(180%) blur(20px);
		backdrop-filter: saturate(180%) blur(20px);
		background: none;
		background-color: rgba(255,255,255,.8)
	}
}

/* 被关闭的问题不允许添加新的回答 */
.QuestionAnswers-answerTip {
	margin-top: 0;
	margin-bottom: 10px;
	padding: 12px 0;
	background-color: #FFF;
	border-radius: 6px;
	box-shadow: 0 1px 3px rgba(26,26,26,.1)
}

/* 邀请回答 */
.Card.QuestionInvitation {
	display: none
}

/* 查看全部回答 */
.Question-main>.Question-mainColumn>.Card:first-child {
	display: none
}

/* 回答卡片 */
.Question-mainColumn>.Card.AnswerCard>.QuestionAnswer-content .RichContent-inner {
	padding: 10px 15px
}

/* 回答 */
.List .List-item>.ContentItem.AnswerItem .RichContent-inner {
    padding: 10px 15px
}

/* 回答 - 图片 */
.origin_image.zh-lightbox-thumb.lazy {
	border-radius: 6px
}

.RichText figure .content_image {
	border-radius: 6px
}

/* Modal */
.Modal--fullPage .Modal-inner {
	border-radius: 6px
}

/* 关于作者 */
.Card-header.AnswerAuthor-title>.Card-headerText {
	width: 100%;
	text-align: center
}

/* 关于作者 */
.Card.AnswerAuthor {
	display: none
}

/* 被收藏次数 */
.Card-header.AnswerInfo-title>.Card-headerText {
	width: 100%;
	text-align: center
}

/* 相关问题 */
.Card-header.SimilarQuestions-title>.Card-headerText {
	width: 100%;
	text-align: center
}

.SimilarQuestions-item .Button {
    color: #215fad
}

.SimilarQuestions-item .Button:hover {
    border-bottom: 1px solid #215fad
}

/* 相关推荐 */
.Card-header.RelatedCommodities-title>.Card-headerText {
	width: 100%;
	text-align: center
}

.RelatedCommodities-image {
	margin-left: 8px;
	margin-right: 0;
	position: relative;
	left: 176px
}

.RelatedCommodities-content {
	position: relative;
	left: -80px
}

/* 试听 */
.RelatedCommodities-remixListen {
	background: none;
	color: #e8c721
}

.RelatedCommodities-remixListen:before {
	border-left-color: #e8c721
}

.RelatedCommodities-remixListen:hover {
	background: none;
	color: #e8c721
}

.RelatedCommodities-bookRead {
	background: none;
	color: #0084ff
}

  /* 相关推荐 */
.Question-sideColumn--sticky .Card:last-of-type {
	display: none
}

/* 边栏 - 知乎相关 */
.Question-sideColumn .Sticky .Footer {
	display: none
}





/* 个人主页 */
.UserAvatar {
	border-radius: 50%
}

/* 修改头像 */
@supports (-webkit-backdrop-filter: none) {
	.UserAvatarEditor-mask {
    	border: 4px solid #fff;
    	border-radius: 50%;
		-webkit-backdrop-filter: saturate(180%) blur(20px);
    	backdrop-filter: saturate(180%) blur(20px);
    	transition: all .5s ease-in-out
	}
}

.UserAvatarEditor-maskInner {
    border: 0;
    border-radius: 50%
}

/*
.Mask-mask--black {
background: #FFF;
}
*/

.UserAvatarEditor-cameraIcon {
    margin-bottom: 0;
    width: 60px;
    height: 60px
}

.UserAvatarEditor-maskInnerText {
    display: none
}

/* 主栏 */
.Profile-mainColumn .Card.ProfileMain {
	border-radius: 6px;
	/* box-shadow: 0 0 10px rgba(3,3,3,.1) */
}

.Card.ProfileMain>.List.ProfileActivities .List-item {
	padding: 20px 40px
}

/* 边栏 */
.Profile-sideColumn .Card.FollowshipCard {
	margin-bottom: 10px;
	border-radius: 6px;
	/* box-shadow: 0 0 10px rgba(3,3,3,.1) */
}

.Profile-sideColumn .Profile-lightList, .Profile-sideColumn .Profile-footerOperations {
    margin: 10px 0;
    padding: 10px 25px;
    background-color: #FFF;
    border-radius: 6px;
	box-shadow: 0 1px 3px rgba(26,26,26,.1);
	box-sizing: border-box
}

.Profile-lightList .Profile-lightItem {
    border-top: 0
}

.Profile-lightList .Profile-lightItem:last-child {
    border-bottom: 0
}

.Profile-sideColumn .Profile-footerOperations {
    text-align: center;
	border-bottom: 0
}

/* 边栏 - 个人成就 */
.Card-header.Profile-sideColumnTitle>.Card-headerText {
	width: 100%;
	text-align: center
}

/* 边栏 - 知乎相关 */
.Profile-sideColumn .Footer {
	display: none
}





/* 专栏 */
@supports (-webkit-backdrop-filter: none) {
	.ColumnPageHeader.is-fixed {
    	-webkit-backdrop-filter: saturate(180%) blur(20px);
    	backdrop-filter: saturate(180%) blur(20px);
    	background-color: rgba(255, 255, 255, 0.8)
	}
}

.ColumnPageHeader-Line {
	background-color: rgba(9,9,9,.1)
}