/* 全局 */

/* ================== */
/* ====== 字体 ====== */
/* ================== */

p {
	line-height: 1.8em;
	letter-spacing: .2px
}




/* =================== */
/* ====== 毛玻璃 ====== */
/* =================== */

@supports ((-webkit-backdrop-filter: none) or (backdrop-filter: none)) {
	/* ====== 导航栏 ======*/
	.AppHeader.is-fixed {
    -webkit-backdrop-filter: saturate(180%) blur(20px);
    backdrop-filter: saturate(180%) blur(20px);
    background-color: rgba(255, 255, 255, .8)
	}
	/* ====== 导航栏 ======*/
	
	
	/* ====== 问题底部固定操作栏 ====== */
	.RichContent-actions.is-fixed {
		-webkit-backdrop-filter: saturate(180%) blur(20px);
		backdrop-filter: saturate(180%) blur(20px);
		background-color: rgba(255,255,255,.8)
	}
	/* ====== 问题底部固定操作栏 ====== */
	
	
	/* ====== 搜索页导航栏 is-shown ====== */
	.PageHeader.is-shown .SearchTabs {
		background-color: transparent
	}
	/* ====== 搜索页导航栏 is-shown ====== */


	/* ====== 话题页导航栏 is-shown ====== */
	.PageHeader.is-shown .Topic-bar {
		background: none
	}
	/* ====== 话题页导航栏 is-shown ====== */
	
	
	/* ====== 问题详情页 - 问题详情底部固定操作栏 ====== */
	.QuestionHeader-footer.is-fixed {
		-webkit-backdrop-filter: saturate(180%) blur(20px);
		backdrop-filter: saturate(180%) blur(20px);
		background: none;
		background-color: rgba(255,255,255,.8)
	}
	/* ====== 问题详情页 - 问题详情底部固定操作栏 ====== */
	
	
	/* ====== 个人主页 - 修改头像 ====== */
	.UserAvatarEditor {
		border-radius: 50%
	}

	.UserAvatarEditor-mask {
		border: 4px solid #fff;
		border-radius: 50%;
		-webkit-backdrop-filter: saturate(180%) blur(20px);
		backdrop-filter: saturate(180%) blur(20px);
		background-color: rgba(255, 255, 255, .3);
		transition: all .5s ease-in-out
	}
	/* ====== 个人主页 - 修改头像 ====== */
	
	
	/* ====== 专栏导航栏 ====== */
	.ColumnPageHeader.is-fixed {
		-webkit-backdrop-filter: saturate(180%) blur(20px);
		backdrop-filter: saturate(180%) blur(20px);
		background-color: rgba(255, 255, 255, 0.8)
	}

	.ColumnPageHeader-Line {
		background-color: rgba(9,9,9,.1)
	}

	.Post-Main .ContentItem-actions {
		padding-left: 299px;
		background: none
	}

	.Post-Main .RichContent-actions.is-fixed {
		width: 100% !important;
		margin-bottom: unset;
		padding-bottom: 10px;
		left: 0 !important
	}
	/* ====== 专栏导航栏 ====== */


	/* ====== 列表 - 搜索栏 & 提醒 & 私信 & 更多 ====== */
	.Popover-content--fixed {
		background: none;
		-webkit-backdrop-filter: saturate(180%) blur(20px);
		backdrop-filter: saturate(180%) blur(20px);
		background-color: rgba(255,255,255,.8);
		border: 1px solid rgba(9,9,9,.1);
		box-shadow: rgba(9,9,9,.2) 0 0 10px
	}
	/* ====== 列表 - 搜索栏 & 提醒 & 私信 & 更多 ====== */


	/* ====== Hover 用户头像加载卡片 ====== */
	.HoverCard-loading {
		-webkit-backdrop-filter: saturate(180%) blur(20px);
		backdrop-filter: saturate(180%) blur(20px);
		background: none;
		background-color: rgba(255, 255, 255, 0.8);
		border-radius: 6px;
		box-shadow: rgba(9,9,9,.2) 0 0 10px
	}
	/* ====== Hover 用户头像加载卡片 ====== */


	/* ====== Hover 用户头像显示的卡片 ====== */
	.HoverCard {
		-webkit-backdrop-filter: saturate(180%) blur(20px);
		backdrop-filter: saturate(180%) blur(20px);
		background: none;
		background-color: rgba(255, 255, 255, 0.8);
		border-radius: 6px;
		box-shadow: rgba(9,9,9,.2) 0 0 10px
	}

	.HoverCard-titleContainer {
		border-bottom-color: rgba(9,9,9,.06)
	}

	.HoverCard-item {
		border-bottom-color: rgba(9,9,9,.06)
	}

	.UserHoverCard-infoDivider {
		background: none;
		background-color: rgba(9,9,9,.12)
	}
	/* ====== Hover 用户头像显示的卡片 ====== */
}




/* ================== */
/* ====== 去除广告 ====== */
/* ================== */

/* 问题列表插入广告 */
.TopstoryItem--advertCard {
	display: none
}

/* 边栏广告 */
.Question-sideColumnAdContainer {
	display: none
}

.Pc-card {
	display: none
}

/* ====== 问题详情页边栏广告 ====== */
.Question-sideColumn .Sticky>.Card:first-child {
	display: none
}

.Question-sideColumn .Sticky .QuestionSidebarTopicMeta {
	display: none
}
/* ====== 问题详情页边栏广告 ====== */




/* ===================== */
/* ====== 全局控件 ====== */
/* ===================== */

/* 圆形头像 & 圆形图标 */
.Avatar {
	border-radius: 50%
}
/* 圆形头像 & 圆形图标 */


/* Card 圆角 */
.Card {
  border-radius: 6px
}
/* Card 圆角 */


/* Modal-inner */
.Modal-inner {
	border-radius: 6px
}
/* Modal-inner */


/* 全局 svg 按钮 */
.Button--plain {
	color: rgba(9,9,9,.5)
}

.Button--plain:hover {
	color: rgba(9,9,9,.6)
}

.Button--plain .Button-zi {
	color: rgba(9,9,9,.4)
}

.Button--plain:hover .Button-zi {
	color: rgba(9,9,9,.5)
}

/* 申请授权 & 禁止转载 */
a.Menu-item.AnswerItem-selfMenuItem {
	color: rgba(9,9,9,.5)
}

a.Menu-item.AnswerItem-selfMenuItem:hover {
	color: rgba(9,9,9,.6)
}
/* 申请授权 & 禁止转载 */
/* 全局 svg 按钮 */


/* ====== 排序 ====== */
.Popover .Select-plainButton {
	background: none;
}

.Select-option {
	color: rgba(9,9,9,.5)
}

.Select-option:hover {
	color: rgba(9,9,9,.6)
}
/* ====== 排序 ====== */




/* ===================== */
/* ====== 鼠标移上表情的动效 ====== */
/* ===================== */
.StickerPopover-stickers-item:hover {
	cursor: pointer
}

.StickerPopover-stickers-item img {
	transition: transform .3s
}

.StickerPopover-stickers-item:hover img {
	transform: scale(1.3);
	transition: transform .3s
}




/* =================== */
/* ====== 导航栏 ====== */
/* =================== */

/* ====== TabsLink ====== */
.AppHeader-TabsLink {
	color: #888
}
/* ====== TabsLink ====== */


/* ====== 搜索栏 ====== */
/* 搜索框 */
.SearchBar-tool .Input-wrapper {
	border: 1px solid rgba(9,9,9,.1)
}

.SearchBar-tool .Input-wrapper.is-focus {
	border: 1px solid rgba(9,9,9,.14)
}

.Input-wrapper.Input-wrapper--grey {
	background: none
}

.Zi.Zi--Search {
	fill: rgba(9,9,9,.14)
}

.SearchBar-searchButton.Button--primary.Button--blue {
	background-color: transparent
}

.SearchBar-searchButton.Button--primary.Button--blue:hover {
	border-color: transparent
}

.SimpleSearchBar-solidSearchButton.Button--primary.Button--blue {
	background-color: transparent;
	border-color: transparent
}

.AppHeader .Popover input.Input {
	color: #444
}

.AppHeader .Popover input.Input::-webkit-input-placeholder {
	color: rgba(9,9,9,.3)
}

.AppHeader .Popover .SearchBar-focusedInput input.Input::-webkit-input-placeholder {
  color: rgba(9,9,9,.4)
}
/* 搜索框 */
/* ====== 搜索栏 ====== */


/* ====== 搜索栏列表 ====== */
.SearchBar-menu {
	padding-top: 0
}

.SearchBar-label {
	height: 15px;
	padding-top: 14px;
	padding-bottom: 14px;
	font-size: 15px;
	font-weight: bold;
	color: red;
	text-align: center;
	line-height: 15px;
	border-bottom-color: rgba(9,9,9,.1)
}

.Menu-item {
	color: #333;
	background: none !important
}

.Menu-item.is-active {
	color: #000;
	background-color: rgba(200,200,200,.3) !important
}

.SearchBar-label--history {
	margin-top: 7px;
	border-top: 1px solid rgba(9,9,9,.1)
}

/* 清空 */
.SearchBar-historyIconWrapper {
	line-height: 24px;
	color: rgba(9,9,9,.5);
	font-weight: normal
}

.SearchBar-historyIconWrapper:hover {
	color: rgba(9,9,9,.6)
}

.SearchBar-historyIconWrapper .Zi.Zi--TrashOutline {
	fill: rgba(9,9,9,.4)
}

.SearchBar-historyIconWrapper:hover .Zi.Zi--TrashOutline {
	fill: rgba(9,9,9,.5)
}
/* 清空 */

.AutoComplete-group .Menu-item:first-child {
	margin-top: 7px
}

.SearchBar-hasValueMenu .SearchBar-historyItem {
	line-height: 25px
}

.SearchBar-historyItemContent.blueFont span {
	color: red
}

.SearchBar-defaultResult em, .SearchBar-historyItemContent.blueFont em {
	font-weight: bold;
	color: red
}

.SearchBar-searchLink {
	color: #666;
	border-top: 1px solid rgba(9,9,9,.06)
}

.SearchBar-searchLink:hover {
	color: #333
}
/* ====== 搜索栏列表 ====== */


/* ====== 提醒 & 私信 ====== */
/* 提醒图标 */
.Zi.Zi--Bell {
	fill: rgba(9,9,9,.3)
}

.Zi.Zi--Bell:hover {
	fill: rgba(9,9,9,.4)
}
/* 提醒图标 */

/* 私信图标 */
.Zi.Zi--Comments {
	fill: rgba(9,9,9,.3)
}

.Zi.Zi--Comments:hover {
	fill: rgba(9,9,9,.4)
}
/* 私信图标 */

/* 提醒列表 */
.PushNotifications-selectedTabIcon {
	fill: rgba(9,9,9,.5)
}

.PushNotifications-tab {
	color: rgba(9,9,9,.3)
}

.PushNotifications-tab:hover {
	color: rgba(9,9,9,.4)
}

.PushNotifications-header {
	border-bottom: 1px solid rgba(9,9,9,.06)
}

.PushNotifications-tab:not(:last-child):after {
	background: rgba(9,9,9,.1)
}

.PushNotifications-followTitle:after {
	border-bottom: 1px solid rgba(9,9,9,.06)
}

.PushNotifications-item {
	padding: 15px 20px
}

.PushNotifications-item:after {
  background-color: rgba(9,9,9,.1)
}

.PushNotifications-item:hover {
	background-color: rgba(220, 220, 220, .3);
	cursor: pointer
}

.PushNotifications-newItem, .Messages-newItem {
	background-color: transparent
}

/* 新消息圆点标示 */
.PushNotifications-newItem:before, .Messages-newItem:before {
	width: 5px;
	height: 5px;
	position: absolute;
	/* 经典红 */
	background: #f00;
	/* 知乎蓝 */
	background: #0084ff;
	border-radius: 50%;
	content: ""
}

.PushNotifications-newItem:before {
	top: 25px;
	left: 7px
}

.Messages-newItem:before {
	top: 34.5px;
	left: 5px
}
/* 新消息圆点标示 */

.PushNotifications-item a {
	color: #215fad
}

.Notifications-footer {
	background-color: transparent
}

.Messages-header {
	border-bottom: 1px solid rgba(9,9,9,.06)
}
/* 提醒列表 */

/* 私信列表 */
.Messages-item:after {
	position: absolute;
	right: 0;
	bottom: 100%;
	left: 0;
	height: 1px;
	padding: 0 16px;
	background-color: rgba(9,9,9,.1);
	content: "";
	background-clip: content-box
}

.Messages-item:hover {
	background-color: rgba(220, 220, 220, .3)
}

.Messages-footer {
	background-color: transparent
}
/* 私信列表 */
/* ====== 提醒 & 私信 ====== */


/* ====== 我的 ====== */
/* 我的主页 & 设置 & 退出 */
.Button.Menu-item.AppHeaderProfileMenu-item.Button--plain {
	background: none;
	color: rgba(9,9,9,.5)
}

.Button.Menu-item.is-active.AppHeaderProfileMenu-item.Button--plain:hover {
	color: rgba(9,9,9,.7)
}
/* 我的主页 & 设置 & 退出 */
/* ====== 我的 ====== */


/* ====== PageHeader is-shown ====== */
/* 搜索栏 */
.TopstoryPageHeader-aside .Input-wrapper, .SearchTabs-inner .Input-wrapper {
	border: 1px solid rgba(9,9,9,.1)
}

.TopstoryPageHeader-aside .Input-wrapper.is-focus, .SearchTabs-inner .Input-wrapper.is-focus {
	border: 1px solid rgba(9,9,9,.14)
}

.TopstoryPageHeader-aside .SimpleSearchBar-input, .SearchTabs-inner .SimpleSearchBar-input {
	background-color: #F8F8F8
}

.TopstoryPageHeader-aside .SimpleSearchBar-input.is-focus, .SearchTabs-inner .SimpleSearchBar-input.is-focus {
	background-color: #FFF
}

.Input-wrapper.is-focus .Zi.Zi--Search {
	fill: rgba(9,9,9,.18)
}

.SimpleSearchBar-searchButton.Button--primary.Button--blue {
	background-color: transparent;
	border: none
}

.SimpleSearchBar-searchButton.Button--primary.Button--blue:hover {
	background-color: transparent
}

.TopstoryPageHeader-aside input.Input, .SearchTabs-inner input.Input {
	color: #444
}

.TopstoryPageHeader-aside input.Input::-webkit-input-placeholder, .SearchTabs-inner input.Input::-webkit-input-placeholder {
	color: rgba(9,9,9,.3)
}

.TopstoryPageHeader-aside .Input-wrapper.is-focus input.Input::-webkit-input-placeholder, .SearchTabs-inner .Input-wrapper.is-focus input.Input::-webkit-input-placeholder {
	color: rgba(9,9,9,.4)
}

.PageHeader .TopstoryPageHeader-aside>.Button--primary.Button--blue {
	display: none
}

.TopstoryPageHeader-aside .SimpleSearchBar-input {
	width: 296px
}
/* 搜索栏 */
/* ====== PageHeader is-shown ====== */




/* =============================== */
/* ====== 问题列表 & 文章列表 ====== */
/* =============================== */

/* ====== 链接颜色 ====== */
.ContentItem-title a {
	color: #1f69c6
}

.HotItem>.HotItem-content .HotItem-title {
	color: #1f69c6
}

.HotItem>.HotItem-content>a:hover .HotItem-title {
	color: #175199
}

.ArticleItem .ArticleItem-Title {
	color: #1f69c6
}

/* 问题列表标题颜色 */
.ContentItem-title a {
	color: #1f69c6
}
/* 问题列表标题颜色 */
/* ====== 链接颜色 ====== */


/* ====== 链接 margin ====== */
.ContentItem.AnswerItem>h2.ContentItem-title, .ContentItem.ArticleItem>h2.ContentItem-title {
	margin-top: 0
}
/* ====== 链接 margin ====== */


/* ====== 图片居右 ====== */
.RichContent-cover {
	margin: 0 0 0 12px;
	float: right
}
/* ====== 图片居右 ====== */




/* ======================== */
/* ====== Modal 背景 ====== */
/* ======================== */

/* 白色 */
.Modal-backdrop {
	background-color: #F1F1F1
}
  
.Modal-wrapper>.Modal--large, .Modal-wrapper>.Modal--fullPage, .Modal--default {
	border: .5px solid rgba(9,9,9,.1);
	border-radius: 6px;
	box-shadow: rgba(9,9,9,.1) 0 0 10px
}
  	
.Modal-closeIcon {
	fill: rgba(9,9,9,.3)
}
  
.Modal-closeButton:hover>.Modal-closeIcon {
	fill: rgba(9,9,9,.4)
}

.ImageView.is-active {
	background-color: #F1F1F1
}
/* 白色 */

/* 黑色 */
.Modal-backdrop {
	background-color: #999
}
  
.Modal-wrapper>.Modal--large, .Modal-wrapper>.Modal--fullPage, .Modal--default {
	border-radius: 6px
}
  	
.Modal-closeIcon {
	fill: rgba(255,255,255,.6)
}
  
.Modal-closeButton:hover>.Modal-closeIcon {
	fill: rgba(255,255,255,.7)
}

.ImageView.is-active {
	background-color: #999
}
/* 黑色 */

/* 白色毛玻璃 */
@supports ((-webkit-backdrop-filter: none) or (backdrop-filter: none)) {
	.Modal-backdrop {
		-webkit-backdrop-filter: saturate(180%) blur(20px);
		backdrop-filter: saturate(180%) blur(20px);
		background-color: rgba(255, 255, 255, 0.8)
	}
  
	.Modal-wrapper>.Modal--large, .Modal-wrapper>.Modal--fullPage, .Modal--default {
		border: .5px solid rgba(9,9,9,.1);
		border-radius: 6px;
		box-shadow: rgba(9,9,9,.1) 0 0 10px
	}
  	
	.Modal-closeIcon {
		fill: rgba(9,9,9,.3)
	}
  
	.Modal-closeButton:hover>.Modal-closeIcon {
		fill: rgba(9,9,9,.4)
	}
	
	.ImageView.is-active {
		-webkit-backdrop-filter: saturate(180%) blur(20px);
		backdrop-filter: saturate(180%) blur(20px);
		background-color: rgba(255, 255, 255, 0.8)
	}
}
/* 白色毛玻璃 */

/* 黑色毛玻璃 */
@supports ((-webkit-backdrop-filter: none) or (backdrop-filter: none)) {
	.Modal-backdrop {
		-webkit-backdrop-filter: saturate(180%) blur(20px);
		backdrop-filter: saturate(180%) blur(20px);
		background-color: rgba(9,9,9,0.8)
	}
  
	.Modal-wrapper>.Modal--large, .Modal-wrapper>.Modal--fullPage, .Modal--default {
		border-radius: 6px
	}
  	
	.Modal-closeIcon {
		fill: rgba(255,255,255,.6)
	}
  
	.Modal-closeButton:hover>.Modal-closeIcon {
		fill: rgba(255,255,255,.7)
	}
	
	.ImageView.is-active {
		-webkit-backdrop-filter: saturate(180%) blur(20px);
		backdrop-filter: saturate(180%) blur(20px);
		background-color: rgba(9,9,9,0.8)
	}
}
/* 黑色毛玻璃 */




/* ======================= */
/* ====== 知乎相关 ======*/
/* ======================= */
.GlobalSideBar .Sticky .Footer {
	display: none
}

.SearchSideBar .Sticky .Footer {
	display: none
}

.TopicSideBar .Sticky .Footer {
	display: none
}

.Question-sideColumn .Sticky .Footer {
	display: none
}

.Profile-sideColumn .Footer {
	display: none
}




/* =============================== */
/* ====== 建议反馈 & 回到顶部 ====== */
/* =============================== */
.CornerButtons {
	display: none
}