/* 首页 */

/* ===================== */
/* ====== 问题列表 ====== */
/* ===================== */

/* ====== 布局方式 ====== */
/* 分割线布局 */
.Card.Topstory-noMarginCard.Topstory-tabCard {
	border-radius: 6px 6px 0 0
}

/* 问题列表加载卡片 */
.Topstory-mainColumnCard {
	border-radius: 6px
}

.ListShortcut .Topstory-recommend .Card {
	border-radius: 0 0 6px 6px
}

.ListShortcut .Topstory-hot {
	border-radius: 0 0 6px 6px
}

.ListShortcut .Topstory-follow .Card {
	border-radius: 0 0 6px 6px
}
/* 问题列表加载卡片 */

.Card.TopstoryItem.TopstoryItem-isRecommend {
	border-radius: 0
}

.Card.TopstoryItem.TopstoryItem-isFollow {
	border-radius: 0
}

.HotItem:not(:first-child) {
	border-top: 1px solid #f0f2f7 !important
}
/* 分割线布局 */

/* 卡片布局 */
.Card.Topstory-noMarginCard.Topstory-tabCard {
	margin-bottom: 0;
  border-radius: 6px 6px 0 0
}

.Topstory-mainColumn .Card {
	margin-bottom: 15px;
	border-radius: 6px;
	box-shadow: 0 1px 3px rgba(26,26,26,.1)
}

.Card.TopstoryItem.TopstoryItem-isRecommend:first-child {
	border-radius: 0 0 6px 6px
}

.Topstory-content .Card.TopstoryItem:first-child {
	border-radius: 0 0 6px 6px
}

.HotItem:not(:first-child) {
	border-top: 1px solid #f0f2f7
}
/* 卡片布局 */
/* ====== 布局方式 ====== */


/* ====== 图片圆角 ====== */
.ztext .origin_image, .ztext .content_image, .ArticleItem-image {
	border-radius: 6px
}
/* ====== 图片圆角 ====== */


/* ====== 你可能感兴趣的话题 ====== */
.ActionCard>.ActionCard-topicsContainer>.ActionCard-topics>.ActionCard-topic {
	width: 163.5px
}

.ActionCard>.ActionCard-topicsContainer>.ActionCard-topics>.ActionCard-topic>.ActionCard-topic-button {
	height: 26px
}
/* ====== 你可能感兴趣的话题 ====== */




/* ================== */
/* ====== 边栏 ====== */
/* ================== */

/* ====== 回答问题 & 发视频 & 写文章 & 写想法 ====== */
.NewGlobalWrite-topItem svg {
	-webkit-transition: -webkit-transform .2s;
	transition: transform .2s
}

.NewGlobalWrite-topItem:hover svg {
	-webkit-transform: scale(1.2);
	transform: scale(1.2)
}

.NewGlobalWrite-topItem .NewGlobalWrite-topTitle {
	font-weight: bold;
	color: rgba(9,9,9,.5)
}

.NewGlobalWrite-topItem:hover .NewGlobalWrite-topTitle {
	color: rgba(9,9,9,.6)
}

.NewGlobalWrite-answerLater .NewGlobalWrite-navTitle, .NewGlobalWrite-navDraft .NewGlobalWrite-navTitle {
	color: rgba(9,9,9,.5)
}

.NewGlobalWrite-answerLater:hover .NewGlobalWrite-navTitle, .NewGlobalWrite-navDraft:hover .NewGlobalWrite-navTitle {
	color: rgba(9,9,9,.6)
}

.NewGlobalWrite-navNumber {
	background: none
}
/* ====== 回答问题 & 发视频 & 写文章 & 写想法 ====== */


/* ====== 我的草稿 ====== */
.Zi.Zi--Draft {
	color: rgba(9,9,9,.4)
}

.GlobalSideBar-navText {
	color: rgba(9,9,9,.5)
}
/* ====== 我的草稿 ====== */


/* ====== 边栏控件 ====== */
/* 类别列表 */
.GlobalSideBar-categoryLabel {
	font-size: 14px;
	color: rgba(9,9,9,.5)
}
/* 类别列表 */

/* nav 列表 */
.GlobalSideBar-navIcon {
	fill: rgba(9,9,9,.4)
}

.GlobalSideBar-navList .Button {
	color: rgba(9,9,9,.5)
}

.GlobalSideBar-navNumber {
	background: none !important;
  color: rgba(9,9,9,.4)
}

.GlobalSideBar-navLink:hover .GlobalSideBar-navNumber {
	background: none
}
/* nav 列表 */
/* ====== 边栏控件 ====== */