/* 问题详情页 */

/* ====== 导航栏标题自动隐藏 ====== */
.PageHeader.is-shown .QuestionHeader-main {
  -webkit-transform: translateY(-38px);
  transform: translateY(-38px);
  -webkit-transition: -webkit-transform .3s 2s;
  transition: transform .3s 2s;
  cursor: pointer
}

.PageHeader.is-shown .QuestionHeader-main:hover {
  -webkit-transform: translateY(0);
  transform: translateY(0);
  -webkit-transition-delay: .5s;
  transition-delay: .5s
}

.PageHeader.is-shown .QuestionHeader-main::after {
  width: 8px;
  height: 8px;
  margin: -4px 0 0 -4px;
  position: absolute;
  left: 50%;
  border-width: 0 2px 2px 0;
  border-style: solid;
  border-color: #0077e6;
  -webkit-transform: rotate(45deg) scale(1);
  transform: rotate(45deg) scale(1);
  -webkit-transition: -webkit-filter .3s 2s, -webkit-transform .3s 2s;
  transition: filter .3s 2s, transform .3s 2s;
  content: ""
}

.PageHeader.is-shown .QuestionHeader-main:hover::after {
  -webkit-filter: opacity(0);
  filter: opacity(0);
  -webkit-transform: rotate(45deg) scale(0);
  transform: rotate(45deg) scale(0);
  -webkit-transition: -webkit-filter .3s .5s, -webkit-transform .3s .5s;
  transition: filter .3s .5s, transform .3s .5s
}
/* ====== 导航栏标题自动隐藏 ====== */


/* ====== 问题状态 ====== */
.QuestionStatus-bar {
  margin: 10px auto;
  padding: 0;
  background-color: #f6f6f6
}

.QuestionStatus-bar-inner {
  padding: 12px 24px;
  background-color: #fff;
  border-radius: 6px;
  box-shadow: 0 1px 3px rgba(26, 26, 26, .1)
}
/* ====== 问题状态 ====== */


/* ====== 问题详情 ====== */
.QuestionHeader {
  margin: 10px auto;
  width: 1000px;
  min-width: 1000px;
  border-radius: 6px
}

.QuestionHeader-side {
  padding-right: 30px
}
/* ====== 问题详情 ====== */


/* ====== 问题回答 Tip ====== */
.QuestionAnswers-answerTip {
  margin-top: 0;
  margin-bottom: 10px;
  padding: 12px 0;
  background-color: #fff;
  border-radius: 6px;
  box-shadow: 0 1px 3px rgba(26, 26, 26, .1)
}
/* ====== 问题回答 Tip ====== */


/* ====== 顶部查看全部回答 ====== */
.Question-mainColumn {
  display: -webkit-flex;
  display: flex;
  -webkit-flex-flow: column nowrap;
  flex-flow: column nowrap
}

.Question-mainColumn>.Card.MoreAnswers {
  margin-bottom: 0;
  -webkit-order: 2;
  order: 2
}

.Question-mainColumn>.Card.ViewAll:last-child {
  margin-bottom: 10px;
  -webkit-order: 1;
  order: 1
}

.Question-main .Question-mainColumn>.Card:first-child {
  display: none
}
/* ====== 顶部查看全部回答 ====== */


/* ====== 回答卡片 padding ====== */
.Question-mainColumn>.Card.AnswerCard>.QuestionAnswer-content .RichContent-inner {
  padding: 10px 15px
}

.List .List-item>.ContentItem.AnswerItem .RichContent-inner {
  padding: 10px 15px
}
/* ====== 回答卡片 padding ====== */


/* ====== 回答图片圆角 ====== */
.RichText figure .content_image {
  border-radius: 6px
}

.origin_image.zh-lightbox-thumb.lazy {
  border-radius: 6px
}
/* ====== 回答图片圆角 ====== */


/* ====== Modal ====== */
.Modal--fullPage .Modal-inner {
  border-radius: 6px
}
/* ====== Modal ====== */


/* ====== 邀请回答 ====== */
.Card.QuestionInvitation {
  display: none
}
/* ====== 邀请回答 ====== */


/* ====== 写回答 - 编辑话题经验 ====== */
.AnswerAdd-topicBiosButton {
  color: rgba(9, 9, 9, .5)
}

.AnswerAdd-topicBiosButton:hover {
  color: rgba(9, 9, 9, .6)
}

.ModifyButton-icon {
  fill: rgba(9, 9, 9, .4)
}

.AnswerAdd-topicBiosButton:hover .ModifyButton-icon {
  fill: rgba(9, 9, 9, .5)
}
/* ====== 写回答 - 编辑话题经验 ====== */


/* ====== 草稿保存 ====== */
/* 草稿保存于几分钟前 */
.AnswerForm-status {
  color: rgba(9, 9, 9, .5)
}
/* 草稿保存于几分钟前 */

/* 保存草稿并离开 / 取消 */
.AnswerForm-cancel {
  height: 34px;
  padding: 0 16px;
  font-size: 14px;
  line-height: 34px;
  color: #fff;
  background-color: #0084ff;
  border-radius: 3px
}

.AnswerForm-cancel:hover {
  background-color: #0077e6;
  border-bottom: 0
}
/* 保存草稿并离开 / 取消 */

/* 提交修改 margin-left */
.AnswerForm-submit {
  margin-left: 15px
}
/* 提交修改 margin-left */

/* 修改按钮 */
.AnswerItem-editButton {
  color: rgba(9, 9, 9, .5)
}

.AnswerItem-editButton:hover {
  color: rgba(9, 9, 9, .6)
}

.AnswerItem-editButton .Icon {
  fill: rgba(9, 9, 9, .4)
}

.AnswerItem-editButton:hover .Icon {
  fill: rgba(9, 9, 9, .5)
}

.AnswerItem-editButton:hover .AnswerItem-editButtonText {
  border-bottom: none
}
/* 修改按钮 */
/* ====== 草稿保存 ====== */


/* ====== 关于作者 ====== */
/* 显示 */
.Card-header.AnswerAuthor-title>.Card-headerText {
  width: 100%;
  text-align: center
}
/* 显示 */

/* 隐藏 */
.Card.AnswerAuthor {
  display: none
}
/* 隐藏 */
/* ====== 关于作者 ====== */


/* ====== 被收藏次数 ====== */
.Card-header.AnswerInfo-title>.Card-headerText {
  width: 100%;
  text-align: center
}
/* ====== 被收藏次数 ====== */


/* ====== 相关问题 ====== */
.Card-header.SimilarQuestions-title>.Card-headerText {
  width: 100%;
  text-align: center
}

.SimilarQuestions-item .Button {
  color: #1a1a1a;
  font-size: 14px;
  font-weight: 600
}

.SimilarQuestions-item .Button:hover {
  color: #175199;
  border-bottom: none
}
/* ====== 相关问题 ====== */


/* ====== 相关推荐 ====== */
/* 显示 */
.Card-header.RelatedCommodities-title>.Card-headerText {
  width: 100%;
  text-align: center
}

.RelatedCommodities-image {
  margin-left: 8px;
  margin-right: 0;
  position: relative;
  left: 176px
}

.RelatedCommodities-content {
  position: relative;
  left: -80px
}

/* 试听 */
.RelatedCommodities-remixListen {
  background: none;
  color: #e8c721
}

.RelatedCommodities-remixListen:before {
  border-left-color: #e8c721
}

.RelatedCommodities-remixListen:hover {
  background: none;
  color: #e8c721
}

.RelatedCommodities-bookRead {
  background: none;
  color: #0084ff
}
/* 显示 */


/* 隐藏 */
.Question-sideColumn--sticky .Card:last-of-type {
  display: none
}
/* 隐藏 */
/* ====== 显示相关推荐 ====== */
