/* 搜索页 */
.SearchItem-avatarWrapper {
	border-radius: 50%
}

/* 话题图片 */
.SearchTopicHeader-ImageWrapper {
	border-radius: 50%
}

/* 话题图片 tall */
.SearchTopicHeader-ImageWrapper--tall {
	border-radius: 2px
}

/* 卡片圆角 */
.Card.SearchResult-Card .KfeCollection-PcCollegeCard-wrapper {
	border-radius: 6px
}

.Card.SearchResult-Card .KfeCollection-PcCollegeCard-root {
	border-radius: 6px
}
/* 卡片圆角 */

/* 电子书图片 */
.KfeCollection-Image-Wrapper, .KfeCollection-PcCollegeCard-image img {
	border-radius: 50%
}

/* 电子书图片 tall */
.KfeCollection-Image-Wrapper[style*="height: 80px"], .KfeCollection-Image-Wrapper[style*="height: 80px"] img {
	border-radius: 2px
}

/* 圈子图片 */
.SearchClubCard a {
	margin-right: 16px;
	border-radius: 50%
}

.SearchClubCard .SearchClubCard-avatar {
	margin: 0;
	border-radius: 50%
}

.Club-Search-ImgWrap, .Club-Search-ImgWrap img {
	border-radius: 50%
}
/* 圈子图片 */




/* ====================== */
/* ====== Live Tab ====== */
/* ====================== */

.LiveAvatar-wrapper {
	border-radius: 50%
}

.LiveAvatar-column {
	width: calc(50%)
}

.LiveAvatar-column+.LiveAvatar-column {
	border-left: 0
}

.LiveAvatar-img.alignCenter {
	border-radius: 0
}




/* 主栏阴影 */
.Card.TopSearch.TopSearch--new {
	box-shadow: 0 1px 3px rgba(26, 26, 26, 0.1)
}

/* 热点 */
.MinorHotSpot .Card.SearchResult-Card {
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none
}

/* 最新讨论 */
.TimeBox-MainContent .Card.SearchResult-Card {
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none
}
/* 主栏阴影 */

/* 边栏阴影 */
.Card.SearchResult-Card {
	box-shadow: 0 1px 3px rgba(26, 26, 26, 0.1)
}
/* 边栏阴影 */


/* ====== 相关搜索 ====== */
.SearchResult-Card .RelevantQuery {
	margin-bottom: 0
}

.SearchResult-Card .RelevantQuery h2 {
	padding-bottom: 10px
}

.SearchResult-Card .RelevantQuery ul {
	-webkit-justify-content: flex-start;
	justify-content: flex-start
}

.SearchResult-Card .RelevantQuery li {
	width: auto;
	margin: 10px 12px
}

.SearchResult-Card .RelevantQuery a {
	padding: 5px 15px;
	background-color: #0084ff;
	color: #fff;
	border-radius: 30px
}

.SearchResult-Card .RelevantQuery a:hover {
	background-color: #0077e6
}
/* ====== 相关搜索 ====== */




/* ================== */
/* ====== 边栏 ====== */
/* ================== */

/* ====== 相关结果 ====== */
.SearchRecommendations>.SearchRecommendations-title {
	text-align: center
}

.Search-container .SearchSideBar .SearchRecommendationItem>img {
	border-radius: 150px
}

.Search-container .SearchSideBar .SearchRecommendationItem>img[alt="电子书"] {
	border-radius: 0
}
/* ====== 相关结果 ====== */


/* ====== 知乎热搜 ====== */
.TopSearch>.Card-header>.Card-headerText {
	width: 100%;
	text-align: center
}

.TopSearch-items>.TopSearch-item {
	padding: 3px 17px
}
/* ====== 知乎热搜 ====== */