/* 搜索页 */
.SearchItem-avatarWrapper {
	border-radius: 50%
}




/* ====================== */
/* ====== Live Tab ====== */
/* ====================== */

.LiveAvatar-wrapper {
	border-radius: 50%
}

.LiveAvatar-column {
	width: calc(50%)
}

.LiveAvatar-column+.LiveAvatar-column {
	border-left: 0
}

.LiveAvatar-img.alignCenter {
	border-radius: 0
}




/* 排序 */
.Select-option {
	color: rgba(9,9,9,.5)
}

.Select-option:hover {
	color: rgba(9,9,9,.6)
}
/* 排序 */

/* 主栏阴影 */
.Card.TopSearch.TopSearch--new {
	box-shadow: 0 1px 3px rgba(26, 26, 26, 0.1)
}
/* 主栏阴影 */

/* 边栏阴影 */
.Card.SearchResult-Card {
	box-shadow: 0 1px 3px rgba(26, 26, 26, 0.1)
}
/* 边栏阴影 */




/* ================== */
/* ====== 边栏 ====== */
/* ================== */

/* ====== 相关结果 ====== */
.SearchRecommendations>.SearchRecommendations-title {
	text-align: center
}

.Search-container .SearchSideBar .SearchRecommendationItem>img {
	border-radius: 150px
}

.Search-container .SearchSideBar .SearchRecommendationItem>img[alt="电子书"] {
	border-radius: 0
}
/* ====== 相关结果 ====== */


/* ====== 知乎热搜 ====== */
.TopSearch>.Card-header>.Card-headerText {
	width: 100%;
	text-align: center
}

.TopSearch-items>.TopSearch-item {
	padding: 3px 17px
}
/* ====== 知乎热搜 ====== */